[submodule "tests/xdg/local/share/nvim/site/pack/testing/start/nvim-treesitter"]
	path = tests/xdg/local/share/nvim/site/pack/testing/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
